<head></head>
<body>
	<%= render partial: "layouts/missionDiscoveryNav.html.erb" %>
<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1"
	<div class="row">
		<div class="col-md-5">
			<h2>
				Overview
			</h2>
			
			<div>
				Mission Discovery invites students to work directly with astronauts, astronaut trainers, rocket scientists, and NASA leaders for a week. Students spend the week learning from the Mission Discovery team, with the aim to design an experiment to be launched into space. Successful experiments will be performed aboard the International Space Station.
			</div>
			
			<div>
				Mission Discovery is proven to enhance students' scientific and technological skill set, while developing their innovation, team work and leadership abilities. Students will also learn how to plan, budget and present their ideas, all within the context of space research.
			</div>
			
			<div>
				In January 2014 the first Mission Discovery experiments were launched to the International Space Station, a ground-breaking event in British education, the first time ever that UK school students’ ideas were carried out in space. This resulted in the programme receiving extensive coverage from the national media, with appearances on BBC Breakfast, ITV news along with various nationwide publications. So far we have hosted Mission Discovery in the UK, Australia and the USA, with plans to expand further afield.
			</div>
			
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-7">
			<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MhhjxNDypKo" frameborder="0" allowfullscreen controls autoplay></iframe>
  
  <!--xDCP4134K0M-->
</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<blockquote>
				<p>
					This week has been an enlightening and insightful experience for me and I can’t express how brilliant it was to be able to spend so much time with the astronauts. I loved learning all of these wonderful new things.
				</p> <small>Kitto Maddrell, Mission Discovery Student</small>
			</blockquote>
		</div>
		<div class="col-md-5">
			<div class="carousel slide" id="carousel-281564">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-281564">
					</li>
					<li data-slide-to="1" data-target="#carousel-281564">
					</li>
					<li data-slide-to="2" data-target="#carousel-281564" class="active">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-281564" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-281564" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<%= link_to(image_tag("findnear.png" , id:"findnear"), "/programmes/mission_discovery/find_near_you") %>
			</div>
			
			</div>
			</div>
</div>
</body>
