<!DOCTYPE html>
<html>
   <head></head>
   <body>
      <div class="container-fluid">
         <div class="col-md-10 col-md-offset-1">
         	<div class="row">
         	 <div class="page-header">
                     <h1>
                        About Us
                     </h1>
                  </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  
                     <h2>
                        Overview
                     </h2>
                    
                     <p>
                        The International Space School Educational Trust (ISSET) is a registered UK charity that was founded in 1998. The aim of ISSET is to utilise space exploration to inspire and motivate young people to believe that they can become what they want to be.
                        <br><br>
                        ISSET seeks to instil an appreciation of what humans can achieve and encourage young people to make something of themselves, particularly in the careers and study in STEM areas.
                       <br><br>
                       <strong>Isset has worked with organizations like:</strong> 
                        <ul>
                        <li>Johnson Space Center</li>
                        <li>Kennedy Space Center</li>
                        <li>The Institute of Physics</li>
                        <li>Imperial College London</li>
                        <li>BBC</li>
                        </ul>
                        
                        ISSET has received the prestigious Sir Arthur Clarke Award for Education Achievement. The Sir Arthur Clarke Award is held in great esteem by the international space community and is given in recognition of notable contributions to space exploration.
                        <br><br>IMAGE<br><br>
                        
                     </p>
                 
               </div>
               <div class="col-md-6">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel slide" id="carousel-520529">
                        <ol class="carousel-indicators">
                           <li class="active" data-slide-to="0" data-target="#carousel-520529">
                           </li>
                           <li data-slide-to="1" data-target="#carousel-520529">
                           </li>
                           <li data-slide-to="2" data-target="#carousel-520529">
                           </li>
                        </ol>
                        <div class="carousel-inner">
                           <div class="item active">
                              <img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
                              <div class="carousel-caption">
                                 <h4>
                                    First Thumbnail label
                                 </h4>
                                 <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                 </p>
                              </div>
                           </div>
                           <div class="item">
                              <img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
                              <div class="carousel-caption">
                                 <h4>
                                    Second Thumbnail label
                                 </h4>
                                 <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                 </p>
                              </div>
                           </div>
                           <div class="item">
                              <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
                              <div class="carousel-caption">
                                 <h4>
                                    Third Thumbnail label
                                 </h4>
                                 <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-520529" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-520529" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                     </div>
                  </div>
               </div>
            </div>
            	<div class="row">
            		<div class="col-md-12">
            		<h2>Previous Programmes</h2>
            		<hr>
            		<ul>
				<li>
					Student projects and competitions, including the UK’s most successful schools’ competition: Edge into Space that enables teams of people from each part of the UK to be guests at a Space Shuttle landing
				</li>
				<li>
					Mission Discovery Summer School
				</li>
				<li>
					Student experiences at the US Space Centres
				</li>
				<li>
					Teacher leadership programmes in Houston, Texas
				</li>
				<li>
					Teacher professional development in the utilisation of space at Kennedy Space Center
				</li>
				<li>
					Astronaut and Space Scientist visits to schools, colleges, universities and communities in the UK, India and Australia.
				</li>
				<li>
					Video conferences with astronauts and space scientists
				</li>
				<li>
					Hands-on, multimedia programmes in schools that utilise the context of space
				</li>
				<liv>
					ISSET also has a highly successful educational leadership and school improvement consultancy "The Effective Schools' Group"
				</liv>
			</ul>
            	</div>
            	</div>
         </div>
      </div>
   </body>
</html>